body {
    font-family: 'Macondo', cursive;
    background-image: linear-gradient(to left top, Red, rgb(255, 102, 0), orange, yellow, greenyellow, green);
}
.header_div{
    background-color: thistle;
    text-shadow: 2px 2px grey;
    font-weight: bolder;
}
.header_div p{
    color: red;
    font-weight: bolder;
    letter-spacing: normal;
    font-size: medium;
}

button {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100px;
}
h4{
    font-weight: bold;
    letter-spacing: normal;
    font-size: x-large;
}
h3 {
    font-weight: bold;
    letter-spacing: normal;
    font-size: xx-large;
}
.copy_right-footer {
    text-align: center;
    text-shadow: 4px 2px grey;
    background-color: thistle;
    font-weight: bolder;
    width: 100%;
    position: fixed;
    bottom: 0;
}